.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: 80%;
  max-width: 1100px;
  margin-top: 10px;
}

.logo-image {
  margin: 0px 4px;
  height: 170px;
  width: 255px;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: #ffffff;
}

.originals-name {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  align-self: flex-start;
  padding-left: 165px;
}
