.login-container {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
      116.64deg,
      rgba(0, 0, 0, 0.8) 0.46%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('https://res.cloudinary.com/dr4h73xhp/image/upload/v1668669563/netfilx_1_rnekra.png');
}
.movie-image {
  height: 52.0005989074707px;
  width: 180px;
  left: 165px;
  top: 48px;
  border-radius: 0px;
  position: absolute;
}
.form-container {
  position: absolute;
  width: 456px;
  height: 440px;
  left: 492px;
  top: 292px;
  background: #0c0b10;
  opacity: 0.8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.login-name {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  text-align: center;

  /* General/White */

  color: #ffffff;
}

.input-label-card {
  width: 360px;
  height: 64px;
  display: flex;
  flex-direction: column;
}
.label-input {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}
.user-input {
  background: #333333;
  border: none;
  border-radius: 2px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.login-button {
  width: 360px;
  height: 40px;
  left: 0px;
  top: 0px;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background: #e50914;
  border-radius: 8px;
  color: #f8fafc;
}
.error-message {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #dc2626;
}
